{"openapi":"3.1.0","info":{"title":"FFBB REST API — Données Officielles du Basket Français","description":"\n# 🏀 API REST FFBB & Open Data Basketball\n\nBienvenue sur la documentation interactive officielle de l'API **FFBB Data Client**.\n\nCette API REST moderne et asynchrone (FastAPI + Pydantic v2) permet d'interroger directement\nl'ensemble des données publiques de la **Fédération Française de BasketBall** :\n- **Clubs & Équipes** : fiches, contacts, adresses et engagements (du niveau départemental à la Betclic Élite).\n- **Compétitions & Poules** : calendriers, résultats, feuilles de match et classements officiels.\n- **Scores Live** : suivi en temps réel des matchs le week-end.\n- **Moteur de recherche** : recherche universelle multi-index optimisée par Meilisearch.\n\n---\n\n### 📚 Écosystème & Liens Utiles\n- 📦 **SDK Python (PyPI)** : [`pip install ffbb-data-client`](https://pypi.org/project/ffbb-data-client/)\n- 🤖 **Serveur MCP pour assistants IA** : [`https://ffbb.desimone.fr`](https://ffbb.desimone.fr)\n- ⭐ **Code Source GitHub** : [`https://github.com/nickdesi/ffbb-data-client`](https://github.com/nickdesi/ffbb-data-client)\n- 📖 **Documentation Sphinx complète** : [`https://nickdesi.github.io/ffbb-data-client/`](https://nickdesi.github.io/ffbb-data-client/)\n","version":"2.3.4"},"servers":[{"url":"https://ffbb-api.desimone.fr","description":"Serveur de Production (Live API)"},{"url":"http://localhost:8000","description":"Serveur Local de Développement"}],"paths":{"/health":{"get":{"tags":["Monitoring & Diagnostic"],"summary":"Diagnostic de l'API (/health)","description":"Vérifie l'état de fonctionnement et la disponibilité de l'API REST.","operationId":"health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/search":{"get":{"tags":["Recherche & Meilisearch"],"summary":"Recherche universelle (Clubs, Compétitions, Salles)","description":"Recherche universelle rapide multi-index optimisée par Meilisearch.\n\nPermet d'interroger simultanément :\n- 🏀 **Clubs & Organismes** (nom officiel, sigle, commune, code postal)\n- 🏆 **Compétitions & Championnats** (départemental, régional, national)\n- 📍 **Salles & Gymnases** (nom, adresse, ville)\n- ⚡ **Tournois & Terrains 3x3**","operationId":"search_ffbb_api_v1_search_get","parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string","minLength":2,"title":"Terme de recherche","description":"Nom d'un club, d'une compétition, ville, salle ou tournoi","examples":["Stade Clermontois"]},"description":"Nom d'un club, d'une compétition, ville, salle ou tournoi"}],"responses":{"200":{"description":"Résultats multi-index Meilisearch groupés par typologie","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/club/{organisme_id}/matches":{"get":{"tags":["Matchs & Calendriers"],"summary":"Calendrier & Matchs d'un club","description":"Récupère l'ensemble des rencontres officielles FFBB d'un club,\navec détection domicile/extérieur, calcul des équipes, salles résolues avec adresse exacte et logos officiels.","operationId":"get_club_matches_api_v1_club__organisme_id__matches_get","parameters":[{"name":"organisme_id","in":"path","required":true,"schema":{"type":"integer","minimum":1,"description":"ID Organisme FFBB (ex: 9326 pour SCBA)","examples":[9326],"title":"Organisme Id"},"description":"ID Organisme FFBB (ex: 9326 pour SCBA)"},{"name":"team","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filtrer par équipe (ex: 'SENIOR M1', 'U18 M1', 'ALL')","examples":["SENIOR M1"],"title":"Team"},"description":"Filtrer par équipe (ex: 'SENIOR M1', 'U18 M1', 'ALL')"}],"responses":{"200":{"description":"Liste ordonnée des rencontres avec adresses et logos","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/club/{organisme_id}/teams":{"get":{"tags":["Clubs"],"summary":"Équipes engagées d'un club","description":"Retourne la liste des équipes engagées pour un organisme/club.","operationId":"get_club_teams_api_v1_club__organisme_id__teams_get","parameters":[{"name":"organisme_id","in":"path","required":true,"schema":{"type":"integer","minimum":1,"description":"ID Organisme FFBB (ex: 9326)","examples":[9326],"title":"Organisme Id"},"description":"ID Organisme FFBB (ex: 9326)"}],"responses":{"200":{"description":"Liste des équipes engagées par championnat","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/club/{organisme_id}":{"get":{"tags":["Clubs"],"summary":"Fiche détaillée d'un club","description":"Retourne les informations détaillées d'un club (nom, contacts, adresse, engagements).","operationId":"get_club_details_api_v1_club__organisme_id__get","parameters":[{"name":"organisme_id","in":"path","required":true,"schema":{"type":"integer","minimum":1,"description":"ID Organisme FFBB (ex: 9326)","examples":[9326],"title":"Organisme Id"},"description":"ID Organisme FFBB (ex: 9326)"}],"responses":{"200":{"description":"Informations administratives, contacts et salle","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/poule/{poule_id}":{"get":{"tags":["Compétitions & Poules"],"summary":"Détails complets d'une poule","description":"Retourne les détails complets, classements et rencontres d'une poule.","operationId":"get_poule_api_v1_poule__poule_id__get","parameters":[{"name":"poule_id","in":"path","required":true,"schema":{"type":"integer","minimum":1,"description":"ID de la poule FFBB","examples":[129759],"title":"Poule Id"},"description":"ID de la poule FFBB"}],"responses":{"200":{"description":"Composition, classements et rencontres","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/poule/{poule_id}/classement":{"get":{"tags":["Compétitions & Poules"],"summary":"Classement officiel d'une poule","description":"Retourne le classement officiel d'une poule avec victoires, défaites, points et goal-average.","operationId":"get_poule_classement_api_v1_poule__poule_id__classement_get","parameters":[{"name":"poule_id","in":"path","required":true,"schema":{"type":"integer","minimum":1,"description":"ID de la poule FFBB","examples":[129759],"title":"Poule Id"},"description":"ID de la poule FFBB"}],"responses":{"200":{"description":"Classement détaillé avec points, victoires et goal-average","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/lives":{"get":{"tags":["Scores en Direct"],"summary":"Scores en direct du week-end (Lives)","description":"Retourne les matchs en direct avec score en temps réel sur l'ensemble des championnats.","operationId":"get_lives_api_v1_lives_get","responses":{"200":{"description":"Matchs en direct avec scores temps réel","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"tags":[{"name":"Clubs","description":"Fiches détaillées, contacts, gymnases et liste des équipes engagées des 4 500+ clubs affiliés FFBB."},{"name":"Matchs & Calendriers","description":"Calendriers officiels, programmation des rencontres, dates, horaires et résolution des gymnases."},{"name":"Compétitions & Poules","description":"Compositions de poules, classements officiels détaillés (points, victoires, défaites, goal-average) et résultats."},{"name":"Scores en Direct","description":"Scores live en temps réel, statut et évolution des matchs en direct le week-end sur toutes les divisions."},{"name":"Recherche & Meilisearch","description":"Moteur de recherche rapide multi-index : clubs, compétitions, tournois 3x3, gymnases et arbitres."},{"name":"Monitoring & Diagnostic","description":"Health check, diagnostic des connexions Directus/Meilisearch et état de fonctionnement du service."}]}